<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Decora</title>
  <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
  <div class="container">
    <div class="item logotip">
      DECORA🌱
    </div>
