* {
  color:#000;
  background-color: #f5f5f5;
}

.container {
  margin:0;
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 10px;
  padding: 20px;
  aspect-ratio: 1/1;
}

.item {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.1);
}

.logotip {
  grid-row: 1/2;
  grid-column: 1/4;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  padding: 0;
}

.curr-cat {
  grid-row: 1/2;
  grid-column: 4/8;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.curr-cat span {
  background-color: white;
}

.cart-i-search {
  grid-row: 1/2;
  grid-column: 8/11;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.categories {
  grid-row: 2/8;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  min-height: 548px;
  height: fit-content;
}

.welcome {
  grid-row: 2/7;
  grid-column: 2/11;
  background-image: url('../images/welcome.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-text{
  background: none;
  color: white;
  text-shadow: 4px 4px 3px black;
  font-size: 62px;
  font-weight: bold;
}

.navigation {
  padding:10px;
  grid-row: 8/10;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  min-height: 125px;
  height: fit-content;
}

.products {
  grid-row: 7/14;
  grid-column: 2/11;
  height:fit-content;
}

.search-input {
  padding: 6px 15px;
  font-size: 14px;
  height: 26px;
  background-color: rgb(231, 231, 231);
  width: 100%;
  border-radius: 4px 0 0 4px;
}

.search-btn, .cart-btn {
  padding: 6px 10px;
  font-size: 16px;
  height: 42px;
  cursor: pointer;
  background-color: white;
}

.search-btn {
  border-radius: 0 4px 4px 0;
}

.cart-btn {
  padding: 2px 6px;
  display: inline-block;
  text-decoration: none;
  border: 2px solid #000;
  font-size: 24px;
  text-align: center;
  margin-left: 10px;
  border-radius: 50%;
  position: relative;
  line-height: 1.75;
}
.cart-btn:hover {
  transition: all 0.3s ease;
  background-color: #219b16;
  transform: translateY(-5px);
}

.navigation a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  background-color: white;
}

.navigation a:hover {
  color: #000;
  text-decoration: underline;
}

.categories button {
  margin: 6px;
  background: none;
  border: 1px solid #000;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
}

.categories button:hover {
  transition: all 0.3s ease;
  background-color: #219b16;
  color: white;
  transform: translateY(-5px);
}

/*dio za svaki produkt*/

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  width: 200px;
  max-height: 200px;
  height:auto;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px black; 
  flex-direction: column;
  justify-content: end;
  display: flex;
  align-items: center;
  position: relative;
}

.product:hover {
  transition: all 0.3s ease;
  transform: translateY(-5px);
}

.product div {
  font-size: 16px;
}

.product img {
  width: 100%;
  height: 70%;
  border-radius: 4px;
  margin-bottom: 10px;
  object-fit: cover;
}

.product .product-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  background-color: #fff;
}

.product .product-price {
  color: rgb(0, 110, 255);
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  background-color: #fff;
}

.product .product-cart-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  
  background-color: rgb(22, 212, 70);
  color: white;
  border: 2px solid green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.product:hover .product-cart-button {
  opacity: 100%;
}

.cart-count {
  position: absolute;
  transform: translate(110%, -230%);
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.product-count {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/*dio za svaki produkt - kraj*/
.purchase {
  grid-row: 2/10;
  grid-column: 2/10;
  padding: 20px;
  height:fit-content;
}

.purchase-info {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  background-color: #fff;
  margin-bottom: 1%;
}
.purchase-info span {
  background-color: #fff;
}

.list-cart-items {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  background-color: #fff;
  width: 100%;
}

.cart-row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  margin: 1%;
}

.cart-row * {
  background-color: #fff;
}

.quantity-controls {
  display: flex;
  justify-content: left;
  text-align: left;
}

.quantity-controls *{
  margin: 3px;
}

.checkout {
  border-radius: 20px;
  overflow: hidden;
}

.checkout-main {
  display: grid;
  grid-template-columns: 5fr 1fr;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
  padding-top: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.finish, .return {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #219b16;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 1px solid #000;
}

.return {
  background-color: #fff;
  color:#000;
}

.finish:hover, .return:hover {
  transform: translateY(-3px);
}

@media screen and (max-width: 1023px) {
  .logotip {
    grid-row: 1/2;
    grid-column: 1/-1;
    
  }
  
  .curr-cat {
    grid-row: 2/3;
    grid-column: 1/5;
  }
  
  .cart-i-search {
    grid-row: 2/3;
    grid-column: 5/-1;
  }
  
  .categories {
    grid-row: 3/9;
    grid-column: 1/2;
  }
  
  .welcome {
    grid-row: 3/8;
    grid-column: 2/11;
  }
  
  .navigation {
    grid-row: 9/11;
    grid-column: 1/2;
  }
  
  .products {
    grid-row: 8/15;
    grid-column: 2/11;
  }

  .purchase {
    grid-row: 3/11;
    grid-column: 2/10;
  }

  .welcome-text {
    font-size: 30px;
  }

  .product {
    width:180px;
  }
}

@media screen and (max-width: 730px){
  .product {
    width:250px;
    min-height: 250px;
  }
}

@media screen and (max-width: 518px){
  .cart-i-search {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 482px){
  .welcome-text {
    font-size: 23px;
  }
}
