<%- include('partials/header') %>

    <div class="item curr-cat">
      <span>Trenutno gledate: Best Sellers</span>
    </div>

    <div class="item cart-i-search">
      <input type="text" placeholder="Search..." class="search-input">
      <button class="search-btn">🔍</button>
      <a href="/cart" class="cart-btn">🛒</a>
    </div>
    

    <div class="item categories">
      
    </div>

    <div class="item welcome">
      <div class="welcome-text">
        VAŠ NAJBOLJI PRIJATELJ ZA PREUREĐIVANJE VAŠEG DOMA
      </div>
    </div>

    <div class="item navigation">
      <a href="#">KONTAKT</a> <br>
      <a href="#">NEWSLETTER</a> <br>
      <a href="#">PRETPLATI SE</a>
    </div>

    <div class="item products">
      
    </div>

<%- include('partials/footer') %>
